/* ALL PAGES */
    html {
        min-height: 100%;
        margin: 0;
        padding: 0;
        border: 0;
    }
    :root {
      --primary-color: #c1dcb3;
      --text: rgb(55, 78, 60);;
      --button-bg: #609966;
     
    }

    body {
    background-image: url('assets/cherryblossompollenpeter-zelei-images.jpg');
    background-size: cover;
    background-position:center center;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: var(--primary-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; */
    /* background: url('../assets/full-bloom.webp'); */
   
    }

    header, .airHeader {
      background-color: rgb(37, 142, 128);
      box-shadow: 1px 1px 6px rgb(113, 113, 113);
      padding: 10px;   
      min-height: 2vh; 
      border-bottom-width: 5px;
      border-bottom-style: solid;
      border-color: #EDF1D6;
    }

    main{
      max-width: 800px;
      min-height: 80vh;
      margin: 0 auto;
      padding: 0 40px;
      background-color: rgba(180, 255, 246, 0.521);
      /* background: transparent; */
      /* min-height: 100vh; */
      /* margin-top: 70px; */
      /* padding: 20px; */
    
    }

   /*  In case we want to style it, here are the basics. 
   Main needs to be adjusted as well. Div class is created, 
   might change to span/id to separate box from the content inside*/
   
   .mainContainer {
    
    display: flex;
    margin: 20px 20px;
      /* max-width: 900px;
      display: flex;
      padding: 40px;
      background-color: white;
      position: absolute;
      margin: 0 auto;
      background-color: aqua; */
     
    }  
    
      
    h3,
    h4 {
      text-align: center;
      margin: 20px 0;
      
    }

    h1 {
      text-align: center;
      padding-top: 20px;
      color: rgb(5, 84, 75);
    }
    
    header h2{
      color: #EDF1D6;
      font-size: 2.5rem;
      text-align: left;
      padding-left: 20px;
      white-space: nowrap;
    }

    .header-landing {     
      color: #EDF1D6;
      font-size: 3.5rem;
      /* min-height: 10vh; */
      display: inline;
      padding-left: 0 20px;
      white-space: nowrap;
    }
/*
    .header-group {
     color: #EDF1D6;
      font-size: 3.5rem;
      min-height: 10vh;
      display: inline;
     padding-left: 20px;}


    
.header-landing2 {     
      color: #EDF1D6;
      font-size: 3.5rem;
      min-height: 10vh;
      white-space: nowrap;
     padding-left: 20px;
    
    } */

    footer {

      /* position: sticky; */
      bottom: 0;
      font-size: 0.5rem;
      text-align: center;
      padding: 10px;
      /* margin: 5px 0; */
      position: relative;
      background-color: #EDF1D6;
      box-shadow: 1px 1px 6px rgb(113, 113, 113);
    }

   /* END ALL PAGES */ 

   /* START INDEX */ 

   #landing-b {
      font-size: 1.1rem;
      color:#EDF1D6;
      text-align: left;
      margin-top: 5px;
      padding-left: 20px;
     
    }

   .landing-h1 {
      font-size: 50px;
      margin: 0 auto;
    }

    .landing-h2 {
      font-size: 30px;
      margin: 10px auto 0;
      text-align: center;
    }

    h4{
      font-size: 1rem;
    }

    p {
      margin: 12px 0;
    }
    
  
    button {
      padding: 10px 24px;
      margin-left: 15px;
      background-color: #EDF1D6;
      border: solid 2px var(--button-border);
      border-radius: 12px;
      color: var(--text);
      font-size: 1rem;
      cursor: pointer;
      transition: 200ms;
    }

    .btn-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }


    button:hover {
      background-color: #609966;
      color: white;
    }

    .pollen-btn, .air-btn, .main-btn {
      border-radius: 12px;
      cursor: pointer;
      font-size: 1rem;
      margin: 10px 10px;
    }

    #formTextBox {
      border-radius: 25px;
      border: none;
      width: 300px;
      cursor: pointer;
      color:rgb(55, 78, 60);
    }

    #form-location_search  {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 25px;
      padding: 20px;
      
    }

    #form-location_search p,
    #form-location_search h2{
      margin: 0;
    }

    #form-location_search a {
      font-size: 0.8rem;
    }

    #form-location_search form {
      position: relative;
      display: flex;
      flex-grow: 0;
      flex-wrap: wrap;
      justify-content: center;
      margin: 20px;
    }

    #form-location_search label {
      pointer-events: none;
      font-size: 1rem;
      font-family: sans-serif;
      position: absolute;
      top: 10px;
      width: 100px;
      left: 38%;
      color: black;
      transition: 100ms ease-out;
     
    }

    #form-location_search input {
      font-size: 1rem;
      padding:20px;
      background-color: #ffffff;
    }


    #form-location_search input:focus~label,
    #form-location_search input:not(:placeholder-shown)~label {
      top: -35px;
      color: var(--text-light);
    }

    #form{
      width: 100%;
      max-width: 400px;
      margin: 0, auto;
    }

    #formTextBox {
      margin-bottom: 40px;
      padding: 10px 5px;
    }
    
    /* END INDEX */ 

    /* START Pollen and Air Quality */

    #pollen-results p{
      font-size: 20px;
      font-style: bold;
    }

    #pollenHeader1{
      font-size: 30px;
      margin-top: 0;
    }
   
    #allergy-information {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 25px;
    }

    #allergy-content{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    #allergy-results, #pollen-results{
      margin-bottom: 25px;
    }

    .allergy-footer {
      font-size: .5rem;
      text-align: center;
      margin: 48px 0;
    }

    .allergy-footer p{
      margin-top: 10px;
      justify-content: center;
      margin: 5px 0;
    }
  

    /* Air Quality */

    .search-container {
      margin-top: 50px;
      margin-right: 30px;
      align-items: left;
      position: absolute;
      top: 0;
      right:0;
    }

    .search-form {
      justify-content: left;
      align-items: left;
      min-width: 200px;
    }

    .search-input {
      display: flex;
      justify-content: left;
      left: 0;
    }

    .search-input input[type="text"] {
      width: 100%;
      flex-grow: 1;
      padding-left: 100px;
      font-size: 18px;
      border: none;
      border-radius: 25px 0 0 25px;
      background-color: #eee;    
    }

    .search-input button[type="submit"] {
      height: 50px;
      width: 100px;
      border: none;
      background-color:#EDF1D6;
      border-radius: 0 25px 25px 0;
      cursor: pointer;
      color:rgb(55, 78, 60);
      margin-left: -4px;
    }

    .search-input button:hover {
      background-color: #609966;
      color: white;
    }





@media screen and (max-width: 900px) {
   .search-container {
    position: relative;
    padding-top: 0;
    padding-right: 20px;
    padding-left: 20px;
    left: 20px;
    margin: 0 auto;
    max-width: 300px;
    min-width: 30px;
   }

   header{
    height: 100px;
    padding-top: 25px;
   }

   .airHeader, .pollenHeader {
    min-height: 25vh;
   }

   #pollenHeader1{
    margin: 0 20px;
   }

   .landing-h2{
    margin: 20px 20px 0 20px;
   }

   .landing-body header{
    min-height: 25px;
   }

   .header-landing{
    text-align: center;
    display: block;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
   }

   #landing-b{
    text-align: center;
    display: block;
    margin-top: 0px;
    /* padding-left: 20px; */
    margin-top: 0;
    margin: 0 20px;
    padding-top: 0;

   }

  .search-input input[type="text"] {
    padding-left: 100px; 
    width: 80%; 
  }

  main{
    min-width: 350px;
    max-width: 800px;
    margin: 0;
    padding: 0;
    background-color: rgba(180, 255, 246, 0.521);
    /* background: transparent; */
    /* min-height: 100vh; */
    /* margin-top: 70px; */
    /* padding: 20px; */
  
  }

  .landing-h1 {
    font-size: 50px;
    margin: 0;
    text-align: center;
  }

  .landing-h2 {
    font-size: 30px;
    /* margin: 10px auto 0; */
    text-align: center;
    display: block;
  }

  .mainContainer {
    
    display: flex;
    margin: 0;
    text-align: center;
    }  
  
  .pollen-btn, .air-btn {
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    margin: 1px 1px;
  }

  #allergySearch{
    margin-left: -30px;
  }

  .search-input button[type="submit"] {
        margin-left: -2px;
  }

}

.search-input button[type="submit"] {
  height: 50px;
  width: 100px;
  border: none;
  background-color:#EDF1D6;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  color:rgb(55, 78, 60);
  margin-left: -4px;
}


